.bold3 {
    font-weight: 300;
}

.bold6 {
    font-weight: 600;
}

.bold9 {
    font-weight: 900;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}

.logo-box {
    background-color: aliceblue;
    border: 1px solid #ced4da;
    border-radius: 8px;
}

.logo-box-mini {
    background-color: aliceblue;
    border: 1px solid #ced4da;
    border-radius: 48px;
    max-width: 40px;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.list-label {
    background: initial;
    transition: background 1.2s;
}

.list-label:hover {
    background: rgb(202, 199, 199);

}

.edit-input {
    display: none;
}

.success-transition {
    background: #60c6606b;
}

.error-transition {
    background: #ce55556b;
}

.layout-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}


.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.form-group label {
    display: block;
}

.select2-container--default .select2-selection--single {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single :hover {
    border-bottom: 1px solid #7fa9d3;
    opacity: 0.9;
    box-shadow: 4px 2px 6px #7fa9d3;
}

.select2 .select2-container .select2-container--default .select2-container--focus {
    border-bottom: 1px solid #699bce !important;
    opacity: 1;
    box-shadow: 2px 2px 6px #699bce66 !important;
}

.form-group label {
    font-size: 12px;
    color: rgb(114, 114, 114)
}

.form-elements {
    border-radius: 6px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #9ec0e1;
    opacity: 0.7;
    width: 100%;
    height: 35px;
    padding: 8px 8px;
}

.form-elements:hover {
    border-bottom: 1px solid #7fa9d3;
    opacity: 0.9;
    box-shadow: 4px 2px 6px #7fa9d3;
}

.form-elements:focus {
    border-bottom: 1px solid #699bce;
    opacity: 1;
    box-shadow: 2px 2px 6px #699bce66;
}

.form-elements::placeholder {
    opacity: 0.5;
}

.form-elements-group {
    border-bottom: 1px solid #9ec0e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-elements-group >span {
    margin-left: 8px;
    margin-right: 8px;
}
.form-elements-group >* {
    display: inline-block;
    border-radius: 0;
    /* width: auto; */
    border: 0;
}
.form-elements-group >*:first-child{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.form-elements-group >*:last-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.form-elements-error{
    
    animation:hihtlighttemp 2s ease-in;
}
@keyframes hihtlighttemp {
    0%{
        border-color: rgb(206, 14, 190);
    }
    20%{
        background:rgba(230, 30, 220, 0.2);
        border-color: rgb(223, 26, 26);
    }
    50%{
        background:rgba(230, 30, 220, 0.7);
        border-color: rgb(223, 26, 26);
    }
    70%{
        border-color: rgb(223, 26, 26);
    }
    100%{
        background:initial;
        border-color: initial;
    }
}

ul.ui-autocomplete {
    z-index: 1100;
}

.modal-footer {
    justify-content: space-between;
}


.layout-grid {
    display: grid;
}

.layout-grid.gap {
    column-gap: 12px;
    row-gap: 12px;
}

.layout-bordered,
.layout-bordered>div {
    border: 1px solid silver;
    padding: 3px;
}

.grid-auto {
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
}

.grid-fit {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-1col {
    grid-template-columns: 1fr;
}

.grid-2col {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3col {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4col {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5col {
    grid-template-columns: repeat(5, 1fr);
}

.grid-6col {
    grid-template-columns: repeat(6, 1fr);
}

.layout-dados {
    border: 1px solid silver;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 0px rgba(88, 135, 192, 0.67);
    padding: 6px;
    margin: 9px 0;
}



.layout-margin >div{
    padding: 6px;
    margin: 9px 0;
}

.hide-last>div:last-child {
    display: none;
}

.hide-last-last>div:last-child>div:last-child {
    display: none;
}

.hide-first>*:first-child {
    display: none;
}

.hide-first-first>*:first-child>div:first-child {
    display: none;
}

.layout-label {
    padding: 4px 8px;
    margin: 4px;
}

.layout-label-rad {
    display: inline-flex;
    border-radius: 30px;
    padding: 4px 8px;
    margin: 4px;
    text-align: center;
    align-items: center;
    /* min-width: 40px; */
    min-height: 25px;
}

.layout-label-circle {
    display: flex;
    border-radius: 80px;
    padding: 4px 8px;
    margin: 4px;
    text-align: center;
    align-items: center;
    min-width: 150px;
    min-height: 150px;
    align-content: center;
    justify-content: center;
    padding: 8px;
}

.circle {

    background-color: #408ba9;
    border-radius: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    shape-outside: circle();
    align-items: center;
    justify-content: center;
    text-align: center;
    width: min-content;
    min-width: 50px;
    height: 90%;
    border-radius: 50%;
    padding: 3% 5%;
    color: rgb(236, 228, 228);
}

.layout-label.blue {
    background: rgba(0, 128, 255, 0.30);
}

.layout-label.green {
    background: rgba(26, 213, 55, 0.60)
}

.layout-label.red {
    background: rgb(255, 124, 124)
}

.layout-label.silver {
    background: #CCC;
}

.layout-label.lite {
    border-radius: 4px;
}

.layout-label.disabled,
.layout-label.disabled:hover {
    background: #e7e6e6;
    color: #c2c0c0;
    cursor: context-menu;
}

a, .link{
    text-decoration: none;
    outline: none !important;
    color: #6195cc;
    transition: all 0.25s ease;  
}

a:hover, .link:hover{
    color: #1063bb;
    cursor: pointer;
}

.btn-outline-info:focus{
    
    color: #fff !important;
    border-color: #fff !important;
    background-color: #17a2b8 !important;
}

.livre{
    background-color: rgb(193, 255, 219);
    border: 1px solid rgb(0, 189, 126);
    border-radius: 6px;
    padding: 3px;
}
.cancelado{
    background-color: rgb(193, 255, 193);
    border: 1px solid rgb(0, 189, 126);
    border-radius: 6px;
    padding: 3px;
}
.reservado{
    background-color: rgb(185, 220, 252);
    border: 1px solid rgb(0, 50, 189);
    border-radius: 6px;
    padding: 3px;
}
.pago{
    background-color: rgb(255, 223, 187);
    border: 1px solid rgb(189, 76, 0);
    border-radius: 6px;
    padding: 3px;
}
